@import url("./ubuntu-mono.css");
:root {
	--color: #333;
	--font-family: sans-serif;
	--font-size: .625em;
	--primary-background-color: #fff;
	--secondary-background-color: #eee;
}
/*~~~~~~ * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
::marker,
::before,
::after {
	box-sizing: border-box;
	outline: 0;
	vertical-align: top;
	line-height: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
::marker,
::before,
::after {
	pointer-events: none;
}
::selection {
	background-color: #fc39;
	color: #333;
}
::-moz-focus-inner {
	border: 0;
}
/*~~~~~~ html, body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
	color: var(--color);
	font-family: var(--font-family);
	font-size: var(--font-size);
	-webkit-text-size-adjust: none;
}
body {
	margin: 0;
	line-height: 1.25;
	font-size: 1.6rem;
	-webkit-text-fill-color: #333;
}
/*~~~~~~ a:not([download]) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
a:not([download]) {
	text-decoration: inherit;
	cursor: pointer;
}
a:not([download]):hover,
a:not([download]):focus-within {
	text-decoration: underline;
}
a:not([download]):focus-within {
	outline: .05rem dashed #0009;
	outline-offset: -.05rem;
}
/*~~~~~~ sub, sup ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
sub,
sup {
	font-size: 1.2rem;
}
sub {
	vertical-align: bottom;
}
sup {
	vertical-align: top;
}
/*~~~~~~ del, ins, mark ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
del {
	background-color: #fcc;
	text-decoration: line-through;
}
ins {
	background-color: #6c9;
	text-decoration: underline;
}
mark {
	background-color: #ff9;
}
/*~~~~~~ abbr[title], q ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
abbr[title] {
	font-variant-caps: small-caps;
	cursor: help;
}
q {
	quotes: "«\A0" "\A0»" "\"" "\"";
}
/*~~~~~~ code, kbd, samp ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
code,
kbd,
samp {
	vertical-align: calc(50% - .625em);
	line-height: 1.5625;
	font-family: "Ubuntu Mono";
	font-size: .8em;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
	display: inline-block;
	border-radius: .4rem;
	background-color: var(--secondary-background-color);
	box-shadow: inset 0 0 0 .1rem currentColor, inset 0 0 0 .2rem var(--primary-background-color);
}
:not(pre) > code::before,
:not(pre) > code::after,
:not(pre) > kbd::before,
:not(pre) > kbd::after,
:not(pre) > samp::before,
:not(pre) > samp::after {
	content: "\A0";
}
/*~~~~~~ h1, h2, h3, h4, h5, h6, p, dl, ol, ul ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul {
	margin: 2rem;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
h1 {
	font-size: 3.2rem;
}
h2 {
	line-height: 1.3889;
	font-size: 2.88rem;
}
h3 {
	line-height: 1.5625;
	font-size: 2.56rem;
}
h4 {
	line-height: 1.7857;
	font-size: 2.24rem;
}
h5 {
	line-height: 2.0833;
	font-size: 1.92rem;
}
h6 {
	line-height: 2.5;
	font-size: 1.6rem;
}
p,
dl,
ol,
ul {
	text-align: justify;
	text-justify: inter-word;
}
ol {
	counter-reset: ol;
}
dl > dt {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	-webkit-text-fill-color: currentColor;
}
dl > dd,
ol > li,
ul > li {
	list-style-type: none;
	display: list-item;
	margin: 0 -2rem 0 2rem;
	padding: 0;
}
dl > dd::before {
	content: "";
	float: left;
	width: .8rem;
	height: .8rem;
	margin: .6rem -.4rem;
	border-width: .4rem 0 .4rem .8rem;
	border-style: solid;
	border-color: transparent transparent transparent currentColor;
}
ol > li {
	counter-increment: ol;
}
ol > li::before {
	content: "." counter(ol);
	float: left;
	width: 0;
	height: 2rem;
	margin: 0 1rem;
	direction: rtl;
	-webkit-text-fill-color: currentColor;
}
ul > li::before {
	content: "";
	float: left;
	width: .8rem;
	height: .8rem;
	margin: .6rem -.4rem;
	border: .4rem solid currentColor;
	border-radius: .4rem;
}
ul > li > ul > li::before {
	border-width: .1rem;
}
ul > li > ul > li > ul > li::before {
	border-width: .4rem;
	border-radius: 0;
}
ul > li > ul > li > ul > li > ul > li::before {
	border-width: .1rem;
}
/*~~~~~~ blockquote, pre ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
blockquote,
pre {
	display: flow-root;
	margin: 2rem;
	padding: 0;
	background-color: var(--secondary-background-color);
	box-shadow: 0 0 0 .1rem var(--primary-background-color), inset 0 0 0 .1rem var(--primary-background-color);
}
blockquote::before,
blockquote::after,
pre::before,
pre::after {
	content: "";
	clear: both;
	display: flex;
}
blockquote::before,
blockquote::after {
	width: 2rem;
	height: 2rem;
}
blockquote::before {
	margin: 0 auto -2rem 0;
	box-shadow: -.25rem -.25rem 0 -.15rem var(--primary-background-color), -.35rem -.35rem 0 -.05rem currentColor, inset .05rem .05rem 0 .05rem var(--primary-background-color), inset .15rem .15rem 0 .15rem currentColor;
}
blockquote::after {
	margin: -2rem 0 0 auto;
	box-shadow: .25rem .25rem 0 -.15rem var(--primary-background-color), .35rem .35rem 0 -.05rem currentColor, inset -.05rem -.05rem 0 .05rem var(--primary-background-color), inset -.15rem -.15rem 0 .15rem currentColor;
}
pre {
	/* background-image: linear-gradient(to bottom, var(--primary-background-color) 50%, transparent 50%); */
	background-image: url("./pre.png");
	background-size: 100% 4rem;
	background-attachment: local;
	white-space: normal;
}
pre::before,
pre::after {
	width: 100%;
	box-shadow: 0 0 0 .1rem currentColor;
}
pre > code,
pre > kbd,
pre > samp {
	display: block;
	margin: 2rem;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
/*~~~~~~ picture ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
picture { /* TODO: remove */
	display: inline-block;
	text-align: center;
}
picture > img { /* TODO: remove */
	max-width: 100%;
	max-height: 100%;
	object-fit: scale-down;
	object-position: center;
}
/*~~~~~~ figure, table, hr ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
figure,
table {
	width: calc(100% - 4rem);
	margin: 2rem;
	background-color: var(--primary-background-color);
}
figure > figcaption,
table > caption {
	caption-side: bottom;
	display: table-caption;
	padding: 1rem;
	font-style: italic;
	text-align: center;
}
figure > figcaption > em,
table > caption > em {
	font-style: normal;
}
figure {
	table-layout: fixed;
	display: table;
}
figure > blockquote,
figure > pre {
	margin: 0;
}
figure > iframe {
	display: block;
	width: 100%;
	padding: 2rem;
	border: 0;
	background-color: var(--primary-background-color);
	background-image:
		linear-gradient(to bottom, var(--secondary-background-color) 2rem, transparent 2rem, transparent calc(100% - 2rem), var(--secondary-background-color) calc(100% - 2rem)),
		linear-gradient(to right, var(--secondary-background-color) 2rem, transparent 2rem, transparent calc(100% - 2rem), var(--secondary-background-color) calc(100% - 2rem));
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
	overflow: auto;
}
figure > canvas,
figure > picture,
figure > audio[controls],
figure > video[controls] {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	/* height: auto; */ /* BUG: chrome figure > audio[controls] element */
	background-color: var(--primary-background-color);
	text-align: center;
	object-fit: scale-down;
	object-position: center;
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
}
figure > picture > img {
	max-width: 100%;
	max-height: 100%;
	object-fit: scale-down;
	object-position: center;
}
table {
	empty-cells: hide;
	border-spacing: 0;
}
table > :not(caption) > tr:nth-child(even) {
	background-color: var(--secondary-background-color);
}
table > :not(caption) > tr > th:not(:empty),
table > :not(caption) > tr > td:not(:empty) {
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
}
table > :not(caption) > tr > th {
	position: relative;
	z-index: 4;
	padding: 2rem;
	vertical-align: middle;
	text-align: center;
	-webkit-text-fill-color: currentColor;
}
table > :not(caption) > tr > th[scope="row"] {
	z-index: 2;
}
table > :not(caption) > tr > th[scope="col"] {
	z-index: 3;
}
table > :not(caption) > tr > th[scope="row"]::before,
table > :not(caption) > tr > th:not([scope])::before {
	content: "";
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	box-shadow: 0 0 0 .1rem var(--primary-background-color), -.2rem 0 0 .1rem currentColor, .2rem 0 0 .1rem currentColor;
}
table > :not(caption) > tr > th[scope="col"]::after,
table > :not(caption) > tr > th:not([scope])::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	box-shadow: 0 0 0 .1rem var(--primary-background-color), 0 -.2rem 0 .1rem currentColor, 0 .2rem 0 .1rem currentColor;
}
table > :not(caption) > tr > th:not([scope])::before {
	height: calc(100% - .2rem);
}
table > :not(caption) > tr > th:not([scope])::after {
	width: calc(100% + .2rem);
}
table > :not(caption) > tr > td {
	z-index: 1;
	padding: 0;
}
hr {
	display: flow-root;
	height: 0;
	margin: 2rem;
	border: 0;
}
hr::after {
	content: "";
	clear: both;
	display: flex;
	width: 100%;
	box-shadow: 0 0 0 .1rem currentColor;
}
@supports (-prince-flow: normal) {
	body {
		color: #333;
	}
	q::before {
		content: "«\A0";
	}
	q::after {
		content: "\A0»";
	}
	q q::before,
	q q::after {
		content: "\"";
	}
	:not(pre) > code,
	:not(pre) > kbd,
	:not(pre) > samp {
		box-shadow: inset 0 0 0 .1rem var(--color), inset 0 0 0 .2rem var(--primary-background-color);
	}
	dl > dt,
	dl > dd::marker,
	ol > li::marker,
	ul > li::marker,
	blockquote::before,
	blockquote::after,
	pre::before,
	pre::after,
	table > :not(caption) > tr > th,
	hr {
		color: var(--color);
	}
	figure > iframe,
	figure > canvas,
	figure > picture,
	figure > audio[controls],
	figure > video[controls],
	table > :not(caption) > tr > td:not(:empty) {
		box-shadow: 0 0 0 .1rem var(--color), inset 0 0 0 .1rem var(--color);
	}
	dl > dd::marker {
		content: "";
		width: .8rem;
		height: .8rem;
		margin: 0 1.6rem;
		padding: 0;
		border-width: .4rem 0 .4rem .8rem;
		border-style: solid;
		border-color: transparent transparent transparent currentColor;
		transform: translate(0, -.2rem);
	}
	ol > li::marker {
		content: "." counter(ol);
		width: 0;
		height: 2rem;
		margin: 0 1rem;
		padding: 0;
		direction: rtl;
	}
	ul > li::marker {
		content: "";
		width: .8rem;
		height: .8rem;
		margin: 0 1.6rem;
		padding: 0;
		border: .4rem solid currentColor;
		border-radius: .4rem;
		transform: translate(0, -.2rem);
	}
	ul > li > ul > li::marker {
		border-width: .1rem;
	}
	ul > li > ul > li > ul > li::marker {
		border-width: .4rem;
		border-radius: 0;
	}
	ul > li > ul > li > ul > li > ul > li::marker {
		border-width: .1rem;
	}
	dl > dd::before,
	ol > li::before,
	ul > li::before {
		display: none;
	}
}
