@import url("ubuntu-mono.css");
/*~~~~~~ * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
::before,
::after {
	box-sizing: border-box;
	outline: 0;
	vertical-align: top;
	line-height: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
::selection {
	background-color: #fc39;
	color: #333;
}
::-moz-focus-inner {
	border: 0;
}
/*~~~~~~ html, body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
	font-size: .625em; /* 1rem */
}
body {
	margin: 0;
	line-height: 1.25;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.6em; /* 1.6rem */
}
/*~~~~~~ h1, h2, h3, h4, h5, h6, p, dl, ol, ul ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul {
	margin: 2rem;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
h1 {
	font-size: 3.2rem;
}
h2 {
	line-height: 1.3889;
	font-size: 2.88rem;
}
h3 {
	line-height: 1.5625;
	font-size: 2.56rem;
}
h4 {
	line-height: 1.7857;
	font-size: 2.24rem;
}
h5 {
	line-height: 2.0833;
	font-size: 1.92rem;
}
h6 {
	line-height: 2.5;
	font-size: 1.6rem;
}
p,
dl,
ol,
ul {
	text-align: justify;
	text-justify: inter-word;
}
ol {
	counter-reset: ol;
	list-style: none;
}
ul {
	list-style: none;
}
dl > dt {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
dl > dd,
ol > li,
ul > li {
	display: block;
	min-height: 2rem;
	margin: 0 -2rem 0 2rem;
	padding: 0;
}
dl > dd::before {
	content: "";
	float: left;
	width: .8rem;
	height: .2rem;
	margin: .9rem -.4rem .9rem -.4rem;
	border-bottom: .2rem solid currentColor;
}
ol > li::before {
	content: "." counter(ol);
	float: left;
	width: 2rem;
	height: 2rem;
	margin: 0 -1rem 0 -1rem;
	direction: rtl;
	counter-increment: ol;
}
ul > li::before {
	content: "";
	float: left;
	width: .8rem;
	height: .8rem;
	margin: .6rem -.4rem .6rem -.4rem;
	border: .4rem solid currentColor;
	border-radius: .4rem;
}
ul > li > ul > li::before {
	border-width: .1rem;
}
ul > li > ul > li > ul > li::before {
	border-width: .4rem;
	border-radius: 0;
}
ul > li > ul > li > ul > li > ul > li::before {
	border-width: .1rem;
}
ul > li > ul > li > ul > li > ul > li > ul > li::before {
	border-width: .4rem 0 .4rem .8rem;
	border-color: transparent transparent transparent currentColor;
}
/*~~~~~~ sub, sup ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
sub,
sup {
	font-size: 1.2rem;
}
sub {
	vertical-align: bottom;
}
sup {
	vertical-align: top;
}
/*~~~~~~ del, ins, mark ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
del {
	background-color: #fcc;
	text-decoration: line-through;
}
ins {
	background-color: #6c9;
	text-decoration: underline;
}
mark {
	background-color: #ff9;
}
/*~~~~~~ abbr[title], q ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
abbr[title] {
	font-variant-caps: small-caps;
	cursor: help;
}
q {
	quotes: "«\A0" "\A0»" "\"" "\"";
}
/*~~~~~~ code, kbd, samp ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
code,
kbd,
samp {
	font-family: "Ubuntu Mono", monospace;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
	display: inline-block;
	border-radius: .4rem;
	background-color: #eee;
	box-shadow: inset 0 0 0 .1rem currentColor, inset 0 0 0 .2rem #fff;
}
:not(pre) > code::before,
:not(pre) > code::after,
:not(pre) > kbd::before,
:not(pre) > kbd::after,
:not(pre) > samp::before,
:not(pre) > samp::after {
	content: "\A0";
}
/*~~~~~~ a:not([download]) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
a:not([download]) {
	text-decoration: inherit;
	cursor: pointer;
}
a:not([download]):hover,
a:not([download]):focus-within {
	text-decoration: underline;
}
a:not([download]):focus-within {
	outline: .05rem dashed #0009;
	outline-offset: -.05rem;
}
/*~~~~~~ blockquote, pre ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
blockquote,
pre {
	margin: 2rem;
	padding: 0;
}
blockquote::before,
blockquote::after,
pre::before,
pre::after {
	content: "";
	display: table;
	pointer-events: none;
	transform: translate(0, 0);
}
blockquote {
	background-color: #eee;
}
blockquote::before,
blockquote::after {
	width: 2rem;
	height: 2rem;
}
blockquote::before {
	margin: 0 auto -2rem 0;
	box-shadow: -.25rem -.25rem 0 -.15rem #fff, -.35rem -.35rem 0 -.05rem currentColor, inset .05rem .05rem 0 .05rem #fff, inset .15rem .15rem 0 .15rem currentColor;
}
blockquote::after {
	margin: -2rem 0 0 auto;
	box-shadow: .25rem .25rem 0 -.15rem #fff, .35rem .35rem 0 -.05rem currentColor, inset -.05rem -.05rem 0 .05rem #fff, inset -.15rem -.15rem 0 .15rem currentColor;
}
pre {
	/* background-color: #fff;
	background-image: linear-gradient(to bottom, transparent 50%, #eee 50%); */
	background-image: url("pre.png");
	background-size: 100% 4rem;
	background-attachment: local;
	white-space: normal;
}
pre::before,
pre::after {
	width: 100%;
	box-shadow: 0 0 0 .1rem currentColor;
}
pre > code,
pre > kbd,
pre > samp {
	display: block;
	min-height: 2rem;
	margin: 2rem;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
/*~~~~~~ picture ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
picture {
	display: inline-block;
	text-align: center;
}
picture > img {
	max-width: 100%;
	max-height: 100%;
	object-fit: scale-down;
	object-position: center;
}
/*~~~~~~ figure, table, hr ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
figure,
table {
	width: calc(100% - 4rem);
	margin: 2rem;
	background-color: #fff;
	transform: translate(0, 0);
}
figure > figcaption,
table > caption {
	caption-side: bottom;
	display: table-caption;
	min-height: 4rem;
	padding: 1rem;
	font-style: italic;
	text-align: center;
}
figure > figcaption > em,
table > caption > em {
	font-style: normal;
}
figure {
	table-layout: fixed;
	display: table;
}
figure > blockquote,
figure > pre {
	margin: 0;
}
figure > iframe {
	display: block;
	width: 100%;
	padding: 2rem;
	border: 0;
	background-color: #fff;
	background-image:
		linear-gradient(to bottom, #eee 2rem, transparent 2rem, transparent calc(100% - 2rem), #eee calc(100% - 2rem)),
		linear-gradient(to right, #eee 2rem, transparent 2rem, transparent calc(100% - 2rem), #eee calc(100% - 2rem));
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
	overflow: auto;
}
figure > canvas,
figure > picture,
figure > audio[controls],
figure > video[controls] {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	/* height: auto; */ /* BUG: chrome figure > audio[controls] element */
	background-color: #fff;
	text-align: center;
	object-fit: scale-down;
	object-position: center;
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
}
figure > canvas,
figure > picture {
	/* background-image:
		linear-gradient(to bottom right, #eee 25%, transparent 25%, transparent 75%, #eee 75%),
		linear-gradient(to bottom right, #eee 25%, transparent 25%, transparent 75%, #eee 75%); */
	background-size: 2rem 2rem;
	background-position: 0 0, 1rem 1rem;
}
table {
	empty-cells: hide;
	border-spacing: 0;
}
/* table > thead:not(:last-child)::after,
table > tbody:not(:last-child)::after,
table > tfoot:not(:last-child)::after {
	content: "";
	display: table-row;
	box-shadow: 0 0 0 .1rem #fff, 0 -.2rem 0 .1rem currentColor, 0 .2rem 0 .1rem currentColor;
	transform: translate(0, 0);
} */
table > :not(caption) > tr:nth-child(even) {
	background-color: #eee;
}
table > :not(caption) > tr > th[scope] {
	padding: 2rem;
	vertical-align: middle;
	text-align: center;
	transform: translate(0, 0);
}
table > :not(caption) > tr > th[scope]:not(:empty) {
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
}
table > :not(caption) > tr > th[scope],
table > :not(caption) > tr > td {z-index: 1}
table > :not(caption) > tr > th[scope="row"] {z-index: 2}
table > :not(caption) > tr > th[scope="col"] {z-index: 3}
table > :not(caption) > tr > th[scope="auto"] {z-index: 4}
table > :not(caption) > tr > th[scope="auto"]::before,
table > :not(caption) > tr > th[scope="row"]::before {
	content: "";
	position: absolute;
	/* top: .2rem; */
	top: 0;
	left: 100%;
	width: 0;
	/* height: calc(100% - .4rem); */
	height: 100%;
	/* box-shadow: 0 0 0 .1rem #fff, 0 0 0 .3rem currentColor; */
	box-shadow: 0 0 0 .1rem #fff, -.2rem 0 0 .1rem currentColor, .2rem 0 0 .1rem currentColor;
	pointer-events: none;
}
table > :not(caption) > tr > th[scope="auto"]::after,
table > :not(caption) > tr > th[scope="col"]::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0;
	box-shadow: 0 0 0 .1rem #fff, 0 -.2rem 0 .1rem currentColor, 0 .2rem 0 .1rem currentColor;
	pointer-events: none;
}
table > :not(caption) > tr > th[scope="auto"]::before {
	height: calc(100% - .2rem);
}
table > :not(caption) > tr > th[scope="auto"]::after {
	width: calc(100% + .2rem);
}
table > :not(caption) > tr > td {
	padding: 0;
	transform: translate(0, 0);
}
table > :not(caption) > tr > td:not(:empty)::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
	pointer-events: none;
	transform: translate(0, 0);
}
hr {
	display: table;
	width: calc(100% - 4rem);
	height: 0;
	margin: 2rem;
	border: 0;
}
hr::after {
	content: "";
	display: table-cell;
	box-shadow: 0 0 0 .1rem currentColor;
}
