@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: normal;
	src: url("/resources/noto-serif-latin-regular.woff2") format("woff2"), url("/resources/noto-serif-latin-regular.woff") format("woff");
}
@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	font-weight: normal;
	src: url("/resources/noto-serif-latin-italic.woff2") format("woff2"), url("/resources/noto-serif-latin-italic.woff") format("woff");
}
@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: bold;
	src: url("/resources/noto-serif-latin-regular-bold.woff2") format("woff2"), url("/resources/noto-serif-latin-regular-bold.woff") format("woff");
}
@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	font-weight: bold;
	src: url("/resources/noto-serif-latin-italic-bold.woff2") format("woff2"), url("/resources/noto-serif-latin-italic-bold.woff") format("woff");
}
