@import url("./main.css");
@import url("./noto-serif.css");
:root {
	--font-family: "Noto Serif";
	--font-size: 7.5pt;
	--outer-size-x: 21cm;
	--outer-size-y: 29.7cm;
	--inner-size-x: 64rem;
	--inner-size-y: 96rem;
	--margin-x: calc((100vw - var(--outer-size-x)) / 2);
	--margin-y: calc((100vh - var(--outer-size-y)) / 2);
	--padding-x: calc((var(--outer-size-x) - var(--inner-size-x)) / 2);
	--padding-y: calc((var(--outer-size-y) - var(--inner-size-y)) / 2);
}
/*~~~~~~ header, footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header,
footer {
	display: flow-root;
	color: #666;
}
header::before,
header::after,
footer::before,
footer::after {
	content: "";
	clear: both;
	display: flex;
}
header::after,
footer::before {
	width: calc(100% + 4rem);
	margin: 0 -2rem;
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
}
header > p:first-of-type {
	float: left;
}
header > p:last-of-type {
	float: right;
}
footer > p:only-of-type {
	float: right;
	width: calc(100% - 4rem);
	text-align: center;
}
footer > p:only-of-type::after {
	content: "Page " counter(page);
	counter-increment: page;
}
/*~~~~~~ main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
	display: flow-root;
}
main::before,
main::after {
	content: "";
	clear: both;
	display: flex;
}
main > h1 {
	-prince-bookmark-level: none;
}
main > h2,
main > h3,
main > h4 {
	list-style-type: none;
	display: list-item;
}
main > h2 {
	counter-reset: h3;
	counter-increment: h2;
}
main > h3 {
	counter-increment: h3;
}
main > h2::before,
main > h3::before,
main > h4::before {
	float: left;
	width: 0;
	height: 4rem;
	margin: 0 -1rem;
	direction: rtl;
}
main > h2::before {
	content: "." counter(h2, upper-roman);
}
main > h3::before {
	content: "." counter(h3);
}
main > h4::before {
	content: "§";
}
main > figure,
main > table {
	margin-left: calc(50% - var(--inner-size-x) / 2 + 2rem);
	margin-right: calc(50% - var(--inner-size-x) / 2 + 2rem);
	transform: translate(calc(var(--inner-size-x) / 2 - 2rem - 50%), 0);
}
/*~~~~~~ @media ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media print {
	@page {
		size: A4 portrait;
		margin: 0;
	}
	header,
	footer {
		position: fixed;
		left: calc(var(--margin-x) + var(--padding-x));
		right: calc(var(--margin-x) + var(--padding-x));
	}
	header {
		top: var(--margin-y);
		bottom: auto;
	}
	footer {
		top: auto;
		bottom: var(--margin-y);
	}
	main {
		box-decoration-break: clone;
		margin: calc(var(--margin-y) + var(--padding-y)) calc(var(--margin-x) + var(--padding-x));
	}
	@supports (-prince-flow: static(header, start)) {
		@page {
			size: var(--outer-size-x) var(--outer-size-y);
			margin: calc(var(--padding-y) - .5pt) calc(var(--padding-x) - .5pt);
			@top {
				content: flow(header);
				vertical-align: top;
			}
			@bottom {
				content: flow(footer);
				vertical-align: bottom;
			}
		}
		header,
		footer {
			position: static;
		}
		header {
			-prince-flow: static(header, start);
		}
		footer {
			-prince-flow: static(footer, start);
		}
		main {
			margin: 0;
		}
		main > h2::marker,
		main > h3::marker,
		main > h4::marker {
			width: 0;
			height: 4rem;
			margin: 0 1rem;
			padding: 0;
			direction: rtl;
		}
		main > h2::marker {
			content: "." counter(h2, upper-roman);
		}
		main > h3::marker {
			content: "." counter(h3);
		}
		main > h4::marker {
			content: "§";
		}
		main > h2::before,
		main > h3::before,
		main > h4::before {
			display: none;
		}
		main > figure > figcaption,
		main > table > caption {
			transform: inherit;
		}
	}
}
@media screen {
	html {
		scrollbar-width: none;
		width: 100vw;
		min-height: 100vh;
		padding: max(var(--margin-y), 2rem) max(var(--margin-x), 2rem);
		background: #333;
	}
	html::after {
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background:
			linear-gradient(to top, transparent, #333) left 0 top 0 / 100% calc(max(var(--margin-y), 2rem) / 2) no-repeat,
			linear-gradient(to bottom, transparent, #333) left 0 bottom 0 / 100% calc(max(var(--margin-y), 2rem) / 2) no-repeat;
	}
	html::-webkit-scrollbar {
		display: none;
	}
	header,
	footer {
		position: absolute;
		left: max(var(--margin-x), 2rem);
		width: var(--outer-size-x);
		padding: 0 var(--padding-x);
	}
	footer {
		transform: translate(0, -100%);
	}
	main {
		width: var(--outer-size-x);
		padding: var(--padding-y) var(--padding-x);
		background: #fff;
	}
}
