@import url("./main.css");
@import url("./noto-sans.css");
:root {
	--color: #369;
	--font-family: "Noto Sans";
	--font-size: 11.25pt;
	--outer-size-x: 10in;
	--outer-size-y: 7.5in;
	--inner-size-x: 52rem;
	--inner-size-y: 36rem;
	--margin-x: calc((100vw - var(--outer-size-x)) / 2);
	--margin-y: calc((100vh - var(--outer-size-y)) / 2);
	--padding-x: calc((var(--outer-size-x) - var(--inner-size-x)) / 2);
	--padding-y: calc((var(--outer-size-y) - var(--inner-size-y)) / 2);
}
/*~~~~~~ header, footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header,
footer {
	display: flow-root;
	-webkit-text-fill-color: currentColor;
}
header::before,
header::after,
footer::before,
footer::after {
	content: "";
	clear: both;
	display: flex;
}
header::after,
footer::before {
	width: calc(100% + 4rem);
	margin: 0 -2rem;
	box-shadow: 0 0 0 .1rem currentColor, inset 0 0 0 .1rem currentColor;
}
header > p,
footer > p {
	margin: 1rem;
}
header > p:first-of-type {
	float: left;
}
header > p:last-of-type {
	float: right;
}
footer > p:only-of-type {
	float: right;
}
footer > p:only-of-type::after {
	content: counter(page);
	counter-increment: page;
}
/*~~~~~~ main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
	display: flow-root;
}
main::before,
main::after {
	content: "";
	clear: both;
	display: flex;
}
main > h2,
main > h3,
main > h4 {
	list-style-type: none;
	display: list-item;
}
main > h2 {
	margin: 2rem -4rem;
	padding: 1rem 6rem;
	border-radius: 2rem 0;
	background-color: #69c;
	counter-reset: h3;
	counter-increment: h2;
}
main > h3 {
	counter-increment: h3;
}
main > h2::before,
main > h3::before,
main > h4::before {
	float: left;
	width: 0;
	height: 4rem;
	margin: 0 -1rem;
	direction: rtl;
}
main > h2::before {
	content: "." counter(h2, upper-roman);
}
main > h3::before {
	content: "." counter(h3);
}
main > h4::before {
	content: "§";
}
main > hgroup {
	display: flow-root;
	margin: 7rem 0;
	border-radius: 2rem 0;
	background-color: #9cf;
}
main > hgroup::before,
main > hgroup::after {
	content: "";
	clear: both;
	display: flex;
}
main > hgroup > h1 {
	text-align: left;
	-prince-bookmark-level: none;
}
main > hgroup > h2 {
	margin: 2rem -4rem;
	padding: 2rem 6rem;
	border-radius: 2rem 0;
	background-color: #69c;
	background-image: url("./web-academy.png");
	background-position: 5rem 1rem;
	background-size: 10rem 10rem;
	background-repeat: no-repeat;
	text-align: right;
	-prince-bookmark-level: none;
}
main > hgroup + address {
	margin: -4rem 0;
}
main > hgroup + address > p {
	margin: 0;
	text-align: center;
}
main > hgroup + address + h2 {
	-prince-bookmark-level: none;
}
main > hgroup + address + h2::before {
	content: none;
}
main > hgroup + address + h2 + ol {
	counter-reset: h2;
}
main > hgroup + address + h2 + ol > li::before {
	content: "." counter(ol, upper-roman);
}
main > hgroup + address + h2 + ol > li > ol > li::before {
	content: "." counter(ol);
}
main > hgroup + address + h2 + ol > li > ol > li > ol > li::before {
	content: "§";
}
main > picture { /* TODO: remove */
	clear: right;
	float: right;
	width: 16rem;
	height: 16rem;
	margin: 0 2rem;
	padding: 2rem;
}
main > figure,
main > table {
	margin-left: calc(50% - var(--inner-size-x) / 2 + 2rem);
	margin-right: calc(50% - var(--inner-size-x) / 2 + 2rem);
	transform: translate(calc(var(--inner-size-x) / 2 - 2rem - 50%), 0);
}
main > figure > picture {
	padding: 2rem;
}
/*~~~~~~ @media ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media print {
	@page {
		size: A4 landscape;
		margin: 0;
	}
	header,
	footer {
		position: fixed;
		left: calc(var(--margin-x) + var(--padding-x));
		right: calc(var(--margin-x) + var(--padding-x));
	}
	header {
		top: var(--margin-y);
		bottom: auto;
	}
	footer {
		top: auto;
		bottom: var(--margin-y);
	}
	main {
		box-decoration-break: clone;
		margin: calc(var(--margin-y) + var(--padding-y)) calc(var(--margin-x) + var(--padding-x));
	}
	main > h2,
	main > :not(h2) + h3 {
		page-break-before: always;
		break-before: page;
		margin-top: 0;
	}
	main > hr {
		page-break-before: always;
		break-before: page;
		margin-top: -2rem;
	}
	main > hr::after {
		box-shadow: none;
	}
	@supports (-prince-flow: static(header, start)) {
		@page {
			size: var(--outer-size-x) var(--outer-size-y);
			margin: calc(var(--padding-y) - .5pt) calc(var(--padding-x) - .5pt);
			@top {
				content: flow(header);
				vertical-align: top;
			}
			@bottom {
				content: flow(footer);
				vertical-align: bottom;
			}
		}
		header,
		footer {
			position: static;
			color: var(--color);
		}
		header {
			-prince-flow: static(header, start);
		}
		footer {
			-prince-flow: static(footer, start);
		}
		main {
			margin: 0;
		}
		main > h2::marker,
		main > h3::marker,
		main > h4::marker {
			width: 0;
			height: 4rem;
			padding: 0;
			direction: rtl;
		}
		main > h2::marker {
			content: "." counter(h2, upper-roman);
			margin: 0 -5rem;
		}
		main > h3::marker {
			content: "." counter(h3);
			margin: 0 1rem;
		}
		main > h4::marker {
			content: "§";
			margin: 0 1rem;
		}
		main > h2::before,
		main > h3::before,
		main > h4::before {
			display: none;
		}
		main > hgroup + address + h2::marker {
			content: none;
		}
		main > hgroup + address + h2 + ol > li::marker {
			content: "." counter(ol, upper-roman);
		}
		main > hgroup + address + h2 + ol > li > ol > li::marker {
			content: "." counter(ol);
		}
		main > hgroup + address + h2 + ol > li > ol > li > ol > li::marker {
			content: "§";
		}
		main > hgroup + address + h2 + ol > li > p > a:not([download])::after,
		main > hgroup + address + h2 + ol > li > ol > li > p > a:not([download])::after,
		main > hgroup + address + h2 + ol > li > ol > li > ol > li > p > a:not([download])::after {
			content: leader(dotted) target-counter(attr(href), page);
			color: var(--color);
		}
		main > figure > figcaption,
		main > table > caption {
			transform: inherit;
		}
	}
}
@media screen {
	html {
		scrollbar-width: none;
		min-width: 100vw;
		height: 100vh;
		padding: max(var(--margin-y), 2rem) max(var(--margin-x), 2rem);
		background:
			conic-gradient(at max(var(--margin-x), 2rem) 100%, transparent 75%, #333 0) no-repeat,
			conic-gradient(at var(--outer-size-x) var(--outer-size-y), transparent 75%, #fff 0) max(var(--margin-x), 2rem) max(var(--margin-y), 2rem) / calc(var(--outer-size-x) + 2rem) calc(var(--outer-size-y) + 2rem) repeat-x,
			#333;
	}
	html::after {
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background:
			linear-gradient(to left, transparent, #333) left 0 top 0 / calc(max(var(--margin-x), 2rem) / 2) 100% no-repeat,
			linear-gradient(to right, transparent, #333) right 0 top 0 / calc(max(var(--margin-x), 2rem) / 2) 100% no-repeat;
	}
	html::-webkit-scrollbar {
		display: none;
	}
	header,
	footer {
		position: absolute;
		left: calc(max(var(--margin-x), 2rem) - 1rem);
		width: calc(var(--outer-size-x) + 2rem);
		padding: 1rem calc(var(--padding-x) + 2rem);
	}
	header {
		top: calc(max(var(--margin-y), 2rem) - 1rem);
	}
	footer {
		bottom: calc(max(var(--margin-y), 2rem) - 1rem - max(calc(var(--outer-size-y) + 4rem - 100vh), 0rem));
	}
	main {
		width: var(--outer-size-x);
		height: var(--outer-size-y);
		padding: var(--padding-y) var(--padding-x);
		column-width: var(--outer-size-x);
		column-gap: calc(var(--padding-x) * 2 + 2rem);
		column-fill: auto;
	}
	main::after {
		width: calc(max(var(--margin-x), 2rem) + var(--padding-x) + var(--inner-size-x));
		height: 2rem;
		margin: -4rem 0 2rem 0;
	}
	@supports (-webkit-column-break-before: always) {
		main > h2,
		main > :not(h2) + h3 {
			-webkit-column-break-before: always;
			margin-top: 0;
		}
		main > hr {
			-webkit-column-break-before: always;
			margin-top: -2rem;
		}
	}
	@supports (break-before: column) {
		main > h2,
		main > :not(h2) + h3 {
			break-before: column;
			margin-top: 0;
		}
		main > hr {
			break-before: column;
			margin-top: -2rem;
		}
	}
	@supports not ((-webkit-column-break-before: always) or (break-before: column)) {
		main > hr {
			display: none;
		}
	}
	@supports (background: -moz-element(#header)) {
		html {
			background:
				conic-gradient(at max(var(--margin-x), 2rem) 100%, transparent 75%, #333 0) no-repeat,
				conic-gradient(at var(--outer-size-x) var(--outer-size-y), transparent 75%, #fff 0) max(var(--margin-x), 2rem) max(var(--margin-y), 2rem) / calc(var(--outer-size-x) + 2rem) calc(var(--outer-size-y) + 2rem) no-repeat,
				-moz-element(#footer) left calc(max(var(--margin-x), 2rem) - 1rem) bottom calc(max(var(--margin-y), 2rem) - 1rem) repeat-x,
				-moz-element(#header) left calc(max(var(--margin-x), 2rem) - 1rem) top calc(max(var(--margin-y), 2rem) - 1rem) repeat-x,
				conic-gradient(at var(--outer-size-x) var(--outer-size-y), transparent 75%, #fff 0) max(var(--margin-x), 2rem) max(var(--margin-y), 2rem) / calc(var(--outer-size-x) + 2rem) calc(var(--outer-size-y) + 2rem) repeat-x,
				#333;
		}
	}
}
