html {
    background: #eee;
}
body {
    width: 740px;
    margin: 40px auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 4px #0006;
    line-height: 1.25;
    font-size: 16px;
}
header {
    padding: 40px;
    border-radius: 40px 120px;
    background-color: #693;
}
main {
    padding: 40px;
}
footer {
    border-top: 20px dotted #693;
    border-bottom: 20px dotted #693;
}
h1 {
    margin: 20px 0;
    color: #dfe;
    font-family: "Arial", sans-serif;
    text-shadow: 0 0 4px #0009;
    text-align: center;
    font-size: 3em;
}
h2 {
    clear: both;
    margin: 20px 0;
    padding-left: 20px;
    border-left: 20px solid currentColor;
    color: #693;
    font-family: "Courier New", monospace;
    font-size: 2em;
    text-align: justify;
}
p {
    margin: 20px 0;
    font-family: "Times", serif;
    font-size: 1em;
    text-align: justify;
}
img {
    display: block;
}
figcaption {
    text-align: center;
}
.left {
    float: left;
    margin: 0 40px 20px -40px;
}
.right {
    float: right;
    margin: 0 -40px 20px 40px;
}
#cgu {
    column-count: 3;
    column-gap: 60px;
    column-rule: 20px dotted #693;
    padding: 20px 40px;
}
#cgu > :first-child {
    margin-top: 0;
}
#cgu > :last-child {
    margin-bottom: 0;
}
