/* III. Style général de la page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 1. Éléments <html></html> et <body></body> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
    background-color: #eee; /* 1. */
}
body {
    width: 740px; /* 2. */
    margin: auto; /* 3. */
    box-shadow: 0 0 4px #0009; /* 4. */
    background-color: #fff; /* 4. */
/* 2. Style général du texte ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    font-family: "Roboto Slab", serif; /* 1. */
    font-size: 16px; /* 1. */
    line-height: 1.25; /* 1. */
}
/* IV. Style des éléments de type "block" ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 1. En-tête du document ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
    background-color: #693; /* 1. */
    border-radius: 40px 100px 40px 100px; /* 1. */
}
h1 {
    color: #dfe; /* 2. */
    font-family: "Roboto", sans-serif; /* 2. */
    font-size: 3em; /* 2. */
    text-align: center; /* 2. */
    text-shadow: 0 0 4px #0009; /* 2. */
}
